RewriteEngine on

# --------------------------------------------
# Fichiers ou dossiers réels (css, js, images...) : pas de réécriture
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# --------------------------------------------
# RÈGLES DE RÉÉCRITURE

# ROUTE PROJETS.INDEX (accueil)
# PATTERN: /
# URL: http://localhost/script_server/Crea_tif/www/public/
RewriteRule ^$ index.php?ressource=projets [L,QSA]

# ROUTE PROJETS.INDEX
# PATTERN: /projects
# URL: http://localhost/script_server/Crea_tif/www/public/projects
RewriteRule ^projects/?$ index.php?ressource=projets [L,QSA]

# ROUTE PROJETS.SHOW
# PATTERN: /projects/id/slug.html
# URL: http://localhost/script_server/Crea_tif/www/public/projects/12/mon-titre.html
RewriteRule ^projects/([0-9]+)/([^/]+)\.html$ index.php?ressource=projets&action=show&id=$1 [L,QSA]

# ROUTE PROJETS.ADDFORM
# PATTERN: /projects/add/form.html
# URL: http://localhost/script_server/Crea_tif/www/public/projects/add/form.html
RewriteRule ^projects/add/form\.html$ index.php?ressource=projets&action=addForm [L,QSA]

# ROUTE PROJETS.ADDINSERT
# PATTERN: /projects/add/insert.html
# URL: http://localhost/script_server/Crea_tif/www/public/projects/add/insert.html
RewriteRule ^projects/add/insert\.html$ index.php?ressource=projets&action=addInsert [L,QSA]

# --------------------------------------------
# FALLBACK
# Toute autre URL part vers le front controller
RewriteRule ^ index.php [L]